.nav-pills{
    font-family: Lobster;
    font-size: 2.0em;
    background-color: black;
    margin-bottom: 10%;
}

.block {
    background-color:black;
    opacity: .5;
    padding: 10px;
    display: inline;
  
}

body{
    background-color: white;
    font-family: Lobster;
    color:white;
}

h1 {
    padding:0;
    margin-top: 0px ;
    font-size: 8.0em;
}

.btn-default{
    color:#337ab7;
    background-color:black;
    border-color:black;
    font-size:1.5em;
}

.pageOne{
    background: url("rawpixel-645303-unsplash.jpg");
    background-size: cover;
    height: 800px;
}

.pageTwo{
    background: url("prometey-sanchez-noskov-340992-unsplash.jpg");
    background-size: cover;
    height:800px;
}