.row{
    margin-left:0;
    margin-right:0;
}
.container-fluid {
    padding-left:0;
    padding-right:0;
   }



#githubIcon{
    color:rgb(102, 43, 129);
}

#gitlabIcon{
    color:#fc6d26;
}


.fa{
    padding-right:5%;
}

.nav-pills{
    font-family: Lobster;
    font-size: 2.0em;
    background-color: black;
    opacity: .8; 
    margin-bottom: 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.block {
    background-color:black;
    opacity: .5;
    padding: 10px;
    display: inline;
  
}


body{
    background-color: white;
    font-family: Lobster;
    color:white;
}

h1 {
    padding:0;
    margin-top: 0px ;
    font-size: 8.0em;
}

p{
    font-size: 2.2em;
    padding-top: 5%;
}


.paddingTop{
    padding-top: 2%;
    padding-bottom: 2%;
}

.me{
    height: 600px;
    margin: auto;    
    display: block;
    padding-top: 20%;

}

.btn-default{
    color:#337ab7;
    background-color:black;
    border-color:black;
    font-size:1.5em;
}

.pageOne{
    background: url("rawpixel-645303-unsplash.jpg");
    background-size: cover;
    height:100%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.pageTwo{
    background: url("prometey-sanchez-noskov-340992-unsplash.jpg");
    background-size: cover;
    height:1200px;
    padding-top: 5%; 
}

.pageThree{
    background: url("landscape-3361927_1920.jpg");
    background-size: cover;
    height:1200px;
    padding-top: 5%; 
}


.pageFour{
    background: url("contact-us-2993000_1920.jpg");
    background-size: cover;
    padding-bottom: 5%,
    padding-top: 5%; 
}

.footer{
    background-color: black;
}
.footer p{
    font-size: 15px;
}